/*  Global values used for the entire document */


/* Document Structuring */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem;
    background-color: #FCFCFC;
}


/* Global Paragraph Text and Color */
p {
    font-size: clamp(2.9vh, 2.8vh, 3.3vh);
    font-family: "DM Sans", "Helvetica Neue", Arial, sans-serif;
    opacity: .75;
    padding: 1rem;

}


/* Transitional Body Titles */
h4 {
    font-size: clamp(3.5vh, 3.6vh, 4vh);
    font-family: "DM Sans", "Helvetica Neue", Arial, sans-serif;   
    text-align: center;
    opacity: .9;

    padding: 2rem;

}

/* Gray Decor Background Tiles */
.gTiles {
    background-color: #F5F5F5;
    border-radius: 12px;
    height: 100%;

}






/* Top section */

h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    font-size: 5.5vh;
    font-family: "DM Sans", "Helvetica Neue", Arial, sans-serif;  
}

.welcomeMessage {
    padding: 2rem;
    display: flex;
    gap: 2.5rem;

}

.welcomeParagraph {
    text-align: center; 
    padding-top: 10rem ;
}

.imageContainerTopHalf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.oceanImage {
    justify-content: center;
    align-items: center;
    width: clamp(60%, 70%, 80%);
    border-radius: 12px;

}





/* Middle section values */

.aboutMeSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;


}

.imgContainerMiddleHalf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutParagraph {
    display: flex;
    text-align: center;
    justify-content: center;   

}

.poppiImage {
    width: 70%;
    border-radius: 12px;

}






/* Bottom section tab boxes */

h5 {
    padding: 2rem;
    font-size: clamp(3.5vh, 3.6vh, 4vh);
    font-family: "DM Sans", "Helvetica Neue", Arial, sans-serif;    

}


.projectSection {
    display: flex;
    flex-direction: column;
}

.projectSectionTitles {
    display: flex;
    flex-direction: row;
    gap: 2rem;
   
}


.tabsDecor {
    background-color: #F5F5F5;
    padding: 1rem;
    border-radius: 12px;
    text-align: center;
    
}

.tabContent {
    width: 100%;
}


a, a:visited {
    text-decoration: none;
    color: black;
    opacity: .8;
    font-family: "DM Sans", "Helvetica Neue", Arial, sans-serif;  

}



/* Footer */

.outerFooter {
    padding-top: 12rem;
    color: gray;
}

.outerParagraph {
    font-size: clamp(2.3vh, 2.5vh, 2.7vh);
    text-align: center;
    font-family: "DM Sans", "Helvetica Neue", Arial, sans-serif;  
}



/* Hover Animation */

.makeMeHover {
    transform: scale(1);
    transition: transform 1s ease, box-shadow 1s ease;
}

.makeMeHover:hover {
   transform: translateY(-8px);
   box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}




























/* Mobile Devices */

@media only screen and (max-width: 937px) {


/*  Global values used for the entire document */


/* Document Structuring */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem;
    background-color: #FCFCFC;
}


/* Global Paragraph Text and Color */
p {
    font-size: clamp(2.9vh, 2.8vh, 3.3vh);
    font-family: "DM Sans", "Helvetica Neue", Arial, sans-serif;
    opacity: .75;
    padding: 1rem;

}


/* Transitional Body Titles */
h4 {
    font-size: clamp(3.5vh, 3.6vh, 4vh);
    font-family: "DM Sans", "Helvetica Neue", Arial, sans-serif;   
    text-align: center;
    opacity: .9;

    padding: 2rem;

}

/* Gray Decor Background Tiles */
.gTiles {
    background-color: #F5F5F5;
    border-radius: 12px;
    height: 100%;

}






/* Top section */

h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    font-size: 5.5vh;
}

.welcomeMessage {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.welcomeParagraph {
    text-align: center; 
    padding-top: 10rem ;
}

.imageContainerTopHalf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.oceanImage {
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 12px;

}





/* Middle section values */

.aboutMeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;


}

.imgContainerMiddleHalf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutParagraph {
    display: flex;
    text-align: center;
    justify-content: center;   

}

.poppiImage {
    width: 100%;
    border-radius: 12px;

}






/* Bottom section tab boxes */

h5 {
    padding: 2rem;
    font-size: clamp(3.5vh, 3.6vh, 4vh);
    font-family: "DM Sans", "Helvetica Neue", Arial, sans-serif;    

}


.projectSection {
    display: flex;
    flex-direction: column;
}

.projectSectionTitles {
    display: flex;
    flex-direction: column;
    gap: 2rem;
   
}


.tabsDecor {
    background-color: #F5F5F5;
    padding: 1rem;
    border-radius: 12px;
    text-align: center;
    
}

.tabContent {
    width: 100%;
}


a, a:visited {
    text-decoration: none;
    color: black;
    opacity: .8;

}



/* Footer */

.outerFooter {
    padding-top: 12rem;
    color: gray;
}

.outerParagraph {
    font-size: font-size: clamp(2.3vh, 2.5vh, 2.7vh);;
    text-align: center;
}



/* Hover Animation */

.makeMeHover {
    transform: scale(1);
    transition: transform 1s ease, box-shadow 1s ease;
}

.makeMeHover:active {
   transform: translateY(-8px);
   box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}




}


